body,
html {
  background-color: #f6f6f6;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {

  border: none;
  /* padding: 0.5rem; */
  font-weight: bold;
  margin-top: 5px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 3px;
}

input {
  font-family: Avenir;
  margin: 5px;
  border-radius: 5px;
  padding: 0.25rem;
  font-size: 1em;
  padding: 0 6px;
  padding: 3px;
  display: inline-block;
  border: 0;
  height: 40px;
  width: 30%;
  margin: 0;
}

.flippy-card,
.flippy-front {
  padding: 0em;
}

.addbtn {
  padding: 1em;
  font-family: Avenir;
  cursor: pointer;
  font-size: 1em;
  padding: 12px;
  border: 0;
  margin-bottom: 20px;
  background: #0099ff;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  margin: 0 auto;
  display: block;
}
.addbtn:hover {
  background: #ff6600;
}

.searchbtn {
  padding: 1em;
  font-family: Avenir;
  cursor: pointer;
  font-size: 1em;
  padding: 9px;
  border: 0;
  margin-bottom: 20px;
  background: #ff6600;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  margin: 0 auto;
}
.searchbtn:hover {
  background: #0099ff;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  border-radius: 5px;
  width: 30em;

  margin: 30px auto;
  outline: 0;
  padding: 12px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

@media (max-width: 48rem) {
  .modal {
    top: 0;
    left: 0;

    width: 100%;
    margin: 0;
  }
  .delete-btn {
    display: block;
    margin-left: 20rem;
    margin-top: 0;
  }
}
.delete-btn {
  margin-left: 27rem;
  margin-top: 0;
}

@media screen and (max-width: 375px) {
  .delete-btn {
    display: block;
    margin-left: 20rem;
    margin-top: 0;
  }
}

.selected-img:hover {
  cursor: pointer;
  border: 3px solid #0099ff;
}

.modal input,
.modal textarea {
  border: 1px solid #ccc;
  display: block;
  margin-top: 6px;
  width: 100%;
  margin-left: 0;
}

.modal textarea {
  min-height: 60px;
}
